@import '../../_variables';

header{
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  border-bottom: solid 1px #ccc;
  text-align: center;
  height: 60px;
  z-index: 3;
  background-color: $bg-color-dark;
  padding-top: -10px;

  #logo{
    text-decoration: none;
    color: $special-color;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
    text-align: center;
  }

  .header-link{
    color: $special-color;
    margin: 0px 40px;
  }

  .fa-bars{
    color: $special-color;
  }

  .navbar-toggler{
    position: absolute;
    top: 15px;
    left: 15px;
  }

  @media(max-width: 1200px){
    #navbarSupportedContent{
      background-color: $bg-color;
      margin-top: -5px;
      padding: 0 !important;
    }

    .row, .container{
      width: 100vw;
      padding: 0;
      margin: 0;
    }

    .header-link{
      display: block;
      width: 100vw;
      margin-left: -14px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-bottom: solid 0.5px #434345;

      &:hover{
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}

#loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $bg-color;
  text-align: center;
  z-index: 5;

  i{
    position: relative;
    top: 45vh;
    font-size: 60px;
    color: $special-color;
    left: -20px;
    animation: dolarMove 1.5s infinite;

    @keyframes dolarMove {
      0%{
        left: -40px;
      }
      50%{
        left: 40px;
      }
      100%{
        left: -40px;
      }
    }
  }
}

footer{
  background: $bg-color-dark;
  color: #aaa;
  margin-top: 50px;
  padding: 10px;

  ul{
    width: 200px;
    border-right: solid 1px #444;

    li{
      a{
        color: $special-color;

        &:hover{
          opacity: 0.8;
          color: $special-color;
        }
      }
    }
  }

  #copy-rights{
    background-color: #222;
    text-align: center;
    padding-top: 4px;
  }
}
