#result{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.form-styles{
  text-align: center;
  margin-bottom: 30px;

  .form-control{
    width: 450px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.base-header-styles{
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}
