#contact-form{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: 0.5px solid #eee;
    border-radius: 5px;
    padding: 10px;
    height: 100%;

    input[type='submit']{
        width: 100px;
    }
}
